.containerotherElements{
    position: relative;
}
.otherContentElements{
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 96px 0;
}
.leftDirectionContentrOther{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 15px;
    align-items: center;
}
.textContainerLeftDirection{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    overflow-wrap: anywhere;
    text-align: center;
}
.textTitleLeftDirection{
    color: rgb(88,204,2);
    font-family: "Arial", sans-serif;
    font-size: 36px;
    line-height: normal;
    margin: 0;
    max-width: 340px;
}
.contentSubTextLeft{
    color: #777777;
    font-size: 16.5px;
    line-height: 24px;
    margin: 0;
    max-width: 330px;
}
.textImportant{
    color: rgb(28,176,246);
    font-weight: 700;
}
.imgContentLeftDirection{
    aspect-ratio: 1 / 1;
    line-height: 0;
    max-width: 345px;
    position: relative;
    width: 100%;
}
.imgLeftDirection{/*clase para las imagenes de la página*/
    height: 80%;
    position: absolute;
    margin-left: 20%;
    width: 35%;
}
.imgLeftDirection2{
    height: 80%;
    position: absolute;
    margin-left: 20%;
    width: 60%;
}
.imgLeftDirection3{
    height: 80%;
    position: absolute;
    margin-left: 50%;
    width: 75%;
}
.imgRightDirection{
    height: 80%;
    position: absolute;
    margin-left: 110%;
    width: 35%;
}
.containeroMarket{
    background-color: rgb(221,244,255);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
.contentMarket{
    display: flex;
    flex-direction: column;
    max-width: 1728px;
    padding: 96px 15px 0;
    width: 100%;
}
.contentBtnMarket{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
}
.titleMarket{
    color: rgb(4,44,96);
    font-family: "Arial", sans-serif;
    font-size: 36px;
    letter-spacing: -.02em;
    line-height: normal;
    margin: 0;
    max-width: 330px;
    text-align: center;
}
.containerBtnMarket{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 330px;
}
.btnMarket{
    height: auto;
    width: 100%;
    padding: 8px 15px;
    border-radius: 18px;
    border-top: 2px solid rgb(229, 229, 229);
    border-bottom: 4px solid rgb(229, 229, 229);
    border-right: 2px solid rgb(229, 229, 229);/*Propiedad de atajo para bordes derecho*/
    border-left: 2px solid rgb(229, 229, 229);/*Propiedad de atajo para bordes izquierdo*/
    background-color: rgb(255, 255, 255);
    z-index: 10001;
}
.btnMarket:hover{
    background-color: #E5E5E5;
    border-top: 2px solid rgb(206, 206, 206);
    border-bottom: 4px solid rgb(206, 206, 206);
    border-right: 2px solid rgb(206, 206, 206);/*Propiedad de atajo para bordes derecho*/
    border-left: 2px solid rgb(206, 206, 206);/*Propiedad de atajo para bordes izquierdo*/
}
.btnMarket:active{
    margin-top: 1px;
    padding-bottom: 4.5px;/*Contenedor del botón*/
    background-color: #E5E5E5;
    border-bottom: 2px solid rgb(206, 206, 206);
}
.Duo12Gif{
    margin-top:-10%;
    z-index: 1;
}
.duoOfice{
    margin-top:-45%;
}
/*Clase para Super Duolingo*/

/*Clase para el theContainerotherElements*/
.theContainerotherElements{
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 96px 0;
}
.thebtncontentOtherElements{
    padding: 14px;/*Contenedor del botón*/
    max-width: 300px;
    width: 100%;
    color: rgb(28, 176, 246);
    background-color: #ffffff;/*Color de fondo del botón*/
    border-radius: 14px;/*Genera Borde redondo*/
    border-bottom: 4px solid #E5E5E5;/*Propiedad de atajo para bordes inferiores*/
    border-top: 2px solid #E5E5E5;/*Propiedad de atajo para bordes superior*/
    border-right: 2px solid #E5E5E5;/*Propiedad de atajo para bordes derecho*/
    border-left: 2px solid #E5E5E5;/*Propiedad de atajo para bordes izquierdo*/
    font-weight: bold;/*Texto en negritas*/
    text-align: center;
    font-family: "Arial Black";
    font-size: 13.5px;/*Tamaño del texto*/
    cursor: pointer;/*Cambia el Puntero del mouse*/
}
.thebtncontentOtherElements:hover{
    background-color: #E5E5E5;
    border-color: #CECECE;
}
.thebtncontentOtherElements:active{
    background-color: #E5E5E5;
    user-select: none;
    padding-top: 12px;
    margin-top: 2px;
}
.thebtncontentOtherElements:focus(:hover){
    background-color: #ffffff;
    border-bottom: 4px solid #E5E5E5;/*Propiedad de atajo para bordes inferiores*/
    border-top: 2px solid #E5E5E5;/*Propiedad de atajo para bordes superior*/
    border-right: 2px solid #E5E5E5;/*Propiedad de atajo para bordes derecho*/
    border-left: 2px solid #E5E5E5;/*Propiedad de atajo para bordes izquierdo*/
}
.theTextOtherElements{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 1.8px;
}
/*clase responsiva del main en este orden*/
@media screen and (min-width:768px){
    .leftDirectionContentrOther{
        padding: 0;
    }
    .textTitleLeftDirection{
        font-size: 48px;
        max-width: 503px;
    }
    .contentSubTextLeft{
        max-width: 473px;
    }
    .imgContentLeftDirection{
        max-width: none;
        width: 452px;
    }
    .imgLeftDirection{
        margin-left: 32.5%;
    }
    .imgLeftDirection2{
        margin-left: 22%;
    }
    .imgLeftDirection3{
        margin-left: 0%;
    }
    .contentMarket{
        padding: 140px 0 0;
    }
    .contentBtnMarket{
        gap: 48px;
    }
    .containerBtnMarket{
        flex-direction: row;
        gap: 24px; 
        justify-content: center;
        max-width: none;
    }
    .titleMarket{
        font-size: 48px;
        max-width: 583px;
    }
}

@media screen and (min-width: 1080px){
    .otherContentElements{
        gap: 0;
        overflow: hidden;
    }
    .leftDirectionContentrOther{
        flex-direction: row;
        gap: 101px;
        margin: 0 auto;
        width: 988px;
    }
    .textContainerLeftDirection{
        align-items: start;
        flex-shrink: 0;
        text-align: initial;
    }
    .imgContentLeftDirection{
        flex-shrink: 0;
        width: 530px;
    }
    .otherContentElements2{
        flex-direction: row-reverse;
    }
    .contentMarket{
        padding: 140px 0 96px;
    }
    .titleMarket{
        font-size: 64px;
    }
    .theContainerotherElements{
        gap: 0;
        overflow: hidden;
    }
    .thebtncontentOtherElements{
        margin: 0;
    }
}