/*Estilo para el menú de navegación*/
.headersticky{
  background: rgb(255, 255, 255);
  border-bottom: 2px solid transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 1080px){
  .header{
    margin: 0 auto;
    max-width: 988px;
    padding: 0;
  }
}
.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  padding: 0 15px;
  justify-content: space-between;
}
.duoLogo{
  height: 38px;
  width: 161px;
}
.btnHeader{
  color: rgb(175, 175, 175);
  font-weight: bold;
  align-items: center;
  display: flex;
  white-space: nowrap;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 0;
  transition: filter .2s;
  font-size: 13.5px;
  letter-spacing: .8px;
}
.caracterHeader{
  height: 14px;
  margin-left: 8px;
  width: 14px;
}
/*Estilo del Seguimiento del navbar en la página con el atributo sticky*/
#stickyContent{
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0 solid transparent; /* Añadir esta línea */
  transition: border-bottom 0.25s ease-in-out; /* Añadir esta línea */
  z-index: 100;
}
.sticky.active {
  border-bottom: 2px solid #E5E5E5; /* Añadir esta línea */
}
/*Estilo para el botón oculto en el navbar*/
/*clase para el btnEmpAhora*/
.hideBtn {/*clase que Oculta un elemento de tipo botón*/
  display: none;
}
.btnEmpAhora{
  padding: 9px;/*Contenedor del botón*/
  width: 142px;/*Ancho del boton de forma independiente por la etiqueta <a>*/
  color: #ffffff;/*Color del texto del botón*/
  background-color: #58CC02;/*Color de fondo del botón*/
  border-radius: 12px;/*Genera Borde redondo*/
  border-bottom: 4px solid #58A700; /*Propiedad de atajo para bordes inferiores */
  border-top: 2px solid #58CC02;/*Propiedad de atajo para bordes superior */
  border-right: 2px solid #58CC02;/*Propiedad de atajo para bordes derecho*/
  border-left: 2px #58CC02;/*Propiedad de atajo para bordes izquierdo*/
  font-weight: bold;/*Textto en negritas*/
  font-size: 15px;/*Tamaño del texto*/
  cursor: pointer;/*Cambia el Puntero del mouse*/
  text-transform: uppercase;
  text-align: center;
}
.btnEmpAhora:hover{
  background-color: #61E002;/*Color de fondo del botón*/
  border-top: 2px solid #61E002;/*Propiedad de atajo para bordes superior */
}
.btnEmpAhora:active{
  padding: 7px;
  background-color: #61E002;
  border-bottom: 2px solid #58CC02;
  border-right: 2px solid #61E002;
  width: 146px;
  margin-top: 3px;
}
/*Fin del menú de navegación */