body {
    margin: 0;
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

h1 {
    color:rgb(0,0,0,0.7); 
    text-align: center;
}

#containerHome {
    display: flex;
    flex-direction: column; /* Cambiado a disposición de columnas */
    align-items: center;
  }
  
  .btn-container {
    display: flex;
    margin-top: 20px; /* Espacio entre el h1 y los botones */
  }
  
  .btn-container button {
    margin: 0 10px; /* Ajuste de los márgenes de los botones */
  }

.img-container {
    float: left;
    justify-content: end;
    padding: 48px;
    width: 998px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
}

.left-image {
    flex: initial;
    margin-right: 100px;
    max-width: 100%; /* Para asegurar que la imagen no sobresalga del contenedor */
}