body {/*Clase para la pagina del sitio General*/
  margin: 0;
  font-family: "Arial", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 95vh;
}

/*Clase del elemento sobre el contenedor de la página principal*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-width: 98%;
  padding: 48px 0px;
}

.containerElements{/*Contenedor de elementos*/
  align-items: end;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  gap: 80px;
  margin-top: -130px;
}

.contentIMG{/*Contenido de la imagen*/
  user-select: none;
  max-width: 100vh;
}

.containerCenter{/*Clase para centrar el título del h1*/
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -6vw;
}
h1 {/*Clase para el título de la página principal*/
  color:#4B4B4B;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
}
.containerButtons{/*Clase contenedor de los botones*/
  display: flex;
  line-height: normal;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
  width: 100%;
  margin-top: 15px;
}
.textButtonContainerHome{/*Clase para el texto dentro del botón de la página principal*/
  margin-top: -5px;/*Desplaza el texto hacia la parte superior*/
}
.btn1{
  padding: 15px;/*Contenedor del botón*/
  width: 327px;/*Ancho del boton de forma independiente por la etiqueta <a>*/
  color: #ffffff;/*Color del texto del botón*/
  background-color: #58CC02;/*Color de fondo del botón*/
  border-radius: 14px;/*Genera Borde redondo*/
  border-bottom: 4px solid #58A700; /*Propiedad de atajo para bordes inferiores */
  border-top: 2px solid #58CC02;/*Propiedad de atajo para bordes superior */
  border-right: 2px solid #58CC02;/*Propiedad de atajo para bordes derecho*/
  border-left: 2px #58CC02;/*Propiedad de atajo para bordes izquierdo*/
  font-weight: bold;/*Textto en negritas*/
  font-size: 15px;/*Tamaño del texto*/
  cursor: pointer;/*Cambia el Puntero del mouse*/
}
.btn1:hover{
  background-color: #61E002;/*Color de fondo del botón*/
  border-top: 2px solid #61E002;/*Propiedad de atajo para bordes superior */
}
.btn1:active{
  margin-top: 3px;
  padding: 14.5px;/*Contenedor del botón*/
  background-color: #61E002;
  border-bottom: 2px solid #58CC02; /*Propiedad de atajo para bordes inferiores */
}
.btn2{
  margin-top: -15px;/*Desplaza hacia abajo el botón*/
  padding: 16px;/*Contenedor del botón*/
  color: #1EB1F6;/*Color del texto del botón*/
  background-color: #ffffff;/*Color de fondo del botón*/
  border-radius: 14px;/*Genera Borde redondo*/
  border-bottom: 4px solid #E5E5E5;/*Propiedad de atajo para bordes inferiores*/
  border-top: 2px solid #E5E5E5;/*Propiedad de atajo para bordes superior*/
  border-right: 2px solid #E5E5E5;/*Propiedad de atajo para bordes derecho*/
  border-left: 2px solid #E5E5E5;/*Propiedad de atajo para bordes izquierdo*/
  font-weight: bold;/*Texto en negritas*/
  font-size: 15px;/*Tamaño del texto*/
  cursor: pointer;/*Cambia el Puntero del mouse*/
}
.btn2:hover{
  background-color: #E5E5E5;
  border-color: #CECECE;
}
.btn2:active{
  margin-top: -10px;
  padding: 13.5px;/*Contenedor del botón*/
  background-color: #E5E5E5;
}
.btn2:focus:not(:hover) {/*Esta clase hace que el botón recupere el hover cuando este pierde el foco*/
  background-color: #ffffff;
}
