body {/*Clase para la pagina del sitio General*/
  margin: 0;
  font-family: "Arial", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

/*Clase del elemento sobre el contenedor de la página principal*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 48px 150px;
}
.containerElements{/*Contenedor de elementos*/
  align-items: end;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  gap: 80px;
  margin-top: -100px;
}
.contentIMG{/*Contenido de la imagen*/
  user-select: none;
  max-width: 75vh;
}
.containerCenter{/*Clase para centrar el título del h1*/
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -4vw;
  margin-top: 10px;
}
h1 {/*Clase para el título de la página principal*/
  color:#4B4B4B;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 10px;
}
.containerButtons{
  display: flex;
  line-height: normal;
  flex-direction: column;
  gap: 30px;
  max-width: 330px;
  width: 100%;
  margin-top: 15px;
  border-color: transparent;
}
.btn1{
  padding: 14px;/*Contenedor del botón*/
  width: 330px;/*Ancho del boton de forma independiente por la etiqueta <a>*/
  color: #ffffff;/*Color del texto del botón*/
  background-color: #58CC02;/*Color de fondo del botón*/
  border-radius: 10px;/*Genera Borde redondo*/
  border-bottom: 4px solid #58A700; /*Propiedad de atajo para bordes inferiores */
  border-bottom-style: 4px solid #58CC02; /*pinta el atajo para el estilo borde inferior*/
  border-top: 2px solid #58CC02;/*Propiedad de atajo para bordes superior */
  border-top-style: 2px #58CC02;/*pinta el atajo para el estilo borde superior*/
  border-right: 2px solid #58CC02;/*Propiedad de atajo para bordes derecho*/
  border-right-style: 2px #58CC02;/*pinta el atajo para el estilo borde derecho*/
  border-left: 2px #58CC02;/*Propiedad de atajo para bordes izquierdo*/
  border-left-style: 2px #58CC02;/*pinta el atajo para el estilo borde izquierdo*/
  font-weight: bold;/*Textto en negritas*/
  font-size: 15px;/*Tamaño del texto*/
  cursor: pointer;
}
.btn1:hover{
  background-color: #61E002;
}
.btn2{
  margin-top: -15px;
  padding: 15px;
  color: #1EB1F6;
  background-color: #ffffff;
  border-color: #E5E5E5;
  border-bottom: 4px solid #E5E5E5; /*Propiedad de atajo para bordes inferiores */
  border-bottom-style: 4px solid #ffffff; /*pinta el atajo para el estilo borde inferior*/
  border-right: 2px solid #E5E5E5;/*Propiedad de atajo para bordes derecho*/
  border-right-style: 2px #ffffff;/*pinta el atajo para el estilo borde derecho*/
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;/*Tamaño del texto*/
  cursor: pointer;
}
.btn2:hover{
  background-color: #E5E5E5;
  border-color: #CECECE;
  border-bottom: 4px solid #CECECE; /*Propiedad de atajo para bordes inferiores */
  border-bottom-style: 4px solid #CECECE; /*pinta el atajo para el estilo borde inferior*/
  border-right: 2px solid #CECECE;/*Propiedad de atajo para bordes derecho*/
  border-right-style: 2px #CECECE;/*pinta el atajo para el estilo borde derecho*/
}