body {
  margin: 0;
  font-family: "Arial", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}
.text-noSelect{/*Clase que evita que se marque un texto*/
  user-select: none;
}

/*Estilo para el menú de navegación*/
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  max-width: 988px;
  padding: 10px 10px;
  margin: 1px auto;
  color: rgba(22, 21, 21, 0.4);
  font-size: 15.45px;
  font-weight:bolder;
}
.header a .logo{
  float: left;
  align-items: center;
  grid:80px;
  text-decoration: none;
  font-family: Arial,sans-serif;
  padding: 12px;
  cursor: pointer;
}
.header-right {
  float: right;
}
/*Fin del menú de navegación */

/*Clase del contenedor del elemento*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
}
.containerImg{
  align-items: end;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  gap: 80px;
  max-width: 80%;
}
.textCenter{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 110px;
  margin: 20px;
}

h1 {/*Clase para el titulo de la página*/
  color:#4B4B4B;
  text-align: center;
  line-height: 1.5;
}

.buttons{
  display: flex;
  line-height: normal;
  flex-direction: column;
  gap: 5px;
  max-width: 330px;
  width: 100%;
  margin-top: 40px;
  border-color: transparent;
}
.btn1{
  padding: 14px;/*Contenedor del botón*/
  color: #ffffff;/*Color del texto del botón*/
  background-color: #58CC02;/*Color de fondo del botón*/
  border-radius: 10px;/*Genera Borde redondo*/
  border-bottom: 4px solid #58A700; /*Propiedad de atajo para bordes inferiores */
  border-bottom-style: 4px solid #58CC02; /*pinta el atajo para el estilo borde inferior*/
  border-top: 2px solid #58CC02;/*Propiedad de atajo para bordes superior */
  border-top-style: 2px #58CC02;/*pinta el atajo para el estilo borde superior*/
  border-right: 2px solid #58CC02;/*Propiedad de atajo para bordes derecho*/
  border-right-style: 2px #58CC02;/*pinta el atajo para el estilo borde derecho*/
  border-left: 2px #58CC02;/*Propiedad de atajo para bordes izquierdo*/
  border-left-style: 2px #58CC02;/*pinta el atajo para el estilo borde izquierdo*/
  font-weight: bold;/*Textto en negritas*/
  font-size: 15px;/*Tamaño del texto*/
}
.btn2{
  margin-top: -15px;
  padding: 15px;
  color: #1EB1F6;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #E5E5E5;
  font-weight: bold;
}