/*Clase Generales para la pagina*/
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font: 500 17px / 20px sans-serif;
}

main{
  display: block;
}

a{
  text-decoration: none;
  background-color: transparent;
}

html{
  scroll-behavior: smooth;/*desplazamiento de la página sea suave*/
}

h1 {
  color:#4B4B4B;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
  margin-top: -280px;
  font-weight: 700;
}

h2{
  color: rgb(241,247,251);
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 25px;
  font-weight: 700;
}

p{
  margin: 0 0 18px;
}

li{
  display: list-item;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

image {
  overflow: hidden;
  border-style: none;
}

hr{
  border: 0;
  border-top: 2px solid rgb(55,70,79);
  height: 0;
  margin: 40px 0;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

footer{/*Clase para el contenido del footer*/
  background: rgb(84,204,2,1);
}