body {
    margin: 0;
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

#webDuolingo {
    width: 70%;
    height: 70%;
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    color:rgb(0,0,0,0.7); 
    text-align: center;
}